
app-root,
.page__body {
  min-width: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
}



main {
flex-grow: 1;
}

.page__container {
  max-width: 90%;
  margin: 0 auto;
}

.page__container--full {
  max-width: 100%;
}

.workspace {
  display: flex;
  align-items: flex-start;
  position: relative;
}