$footer-bgcolor: #ededed;
$text-colour: #1d1d1f;	
$text-secondary-colour: #e7edee;


/* Links */
$link: #1d1d1f;	
$link-hover: #1d1d1f;	
$link-active: #1d1d1f;	
$link-bg: #beff5c; 
$link-focus: #1d1d1f;	
$breadcrumb: rgba($color: $text-colour, $alpha: .6); 
