.range_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  margin: 1.3em 0 0 0;
  padding: 0;
}

.sliders_control {
  position: relative;
  min-height: 20px;
}

.range__info {
  padding-top: .5em;
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: .5em;
  font-size: 16px;
  color: $text-colour;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 14px;
  height: 14px;
  background-color: $text-secondary-colour;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba($color: $text-colour, $alpha: .5);
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 14px;
  height: 14px;
  background-color: $text-secondary-colour;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba($color: $text-colour, $alpha: .5);
  cursor: pointer;  
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px $text-colour, 0 0 9px $text-colour;
  -webkit-box-shadow: inset 0 0 3px $text-colour, 0 0 9px $text-colour;
}

input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: $text-secondary-colour;
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
}

 